.container {
  display: flex;
  justify-content: space-between; /* Distribute space between the boxes */
  align-items: center; /* Align items vertically in the center */
  gap: 1rem; /* Optional: Add some space between the boxes */
  padding: 1rem; /* Optional: Add padding inside the container */
  
}
.c{
  height:100vh;
  width: 100%;
  background: linear-gradient(45deg,#1e0101,#3c0000,#330101,#000000);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.box2 {
  flex:60%;
  text-align: left; /* Align text to the left in box2 */
}

.box1 {
  flex:40%;
  padding-top:5%;
  padding-bottom:5%;
  text-align: center; /* Align text to the right in box1 */
}
.box2 h1{
  color: #FFFFFF;
}
.box2 h3{
  color: #FFFFFF;
  font-weight: 100;
}
.box1 div{
  height:500px;
  background-color: #e0dbdbca;
}
 .button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#630404, #8e0606 50%,#af0e0e);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(104, 1, 1, 0.415) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: rgba(5, 0, 0, 0.849);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }
  